DATABASE_URL="postgresql://postgres:TU_PASSWORD_REAL@localhost:5432/fronti_db?schema=public"
PORT=3000
CORS_ORIGINS=http://localhost:3002,http://127.0.0.1:3002
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_GEOCODING_URL="https://maps.googleapis.com/maps/api/geocode/json"
GOOGLE_MAPS_DISTANCE_MATRIX_URL="https://maps.googleapis.com/maps/api/distancematrix/json"
GOOGLE_MAPS_DIRECTIONS_URL="https://maps.googleapis.com/maps/api/directions/json"
BCV_SOURCE_URL="https://www.bcv.org.ve/"
BCV_EXCHANGE_URL="https://www.bcv.org.ve/seccionportal/tipo-de-cambio-oficial-del-bcv"
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
FRONTI_ORDER_WEBHOOK_URL=
MAKE_ORDER_WEBHOOK_URL=
TELEGRAM_ORDER_WEBHOOK_URL=
